.form-field-wrapper {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 0.5rem;

  &:focus-within{
    box-shadow: 0 0.5rem 1rem grey;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    &:focus-within {
      border-bottom: 2px solid var(--mdc-theme-primary, #3f51b5);
    }

    .input-group {
      display: flex;
      align-items: center;

    }

  }
}


