.container {
  background-color:#EBEBEB;

  mat-divider {
    border-top-style: groove;
    border-top-width: 2px;
  }

  header {
    display: flex;
    align-items: center;
    padding: 0rem 0.2rem;
  }


  #hamburger-menu {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
      height: inherit;
      width: inherit;
    }
  }

  .sub-header {
    display: block;
    padding: 0em 1em;
    margin-bottom: 0.5rem;

    .btn-group {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .mat-icon {
        height: 1rem;
        padding: 2px;
      }
    }

    app-gaggle-input {
      .mat-icon {
        height: 1.5rem;
        width: 1.5rem;
        padding: 2px;
      }

      input {
        border: none;
        outline: none;
        font-size: 1em;
        line-height: 20px;
        &:focus, &:focus-within {
          border: none;
          outline: none;
        }
        &.error {
          border: 1px solid rgba(255,0,0,0.25);
          background-color:  rgba(255,0,0,0.25);
        }
      }

      button {
        padding: 0.2em;
        background-color: white;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .mat-icon {
          height: 0.7rem;
          width: 0.7rem;
        }
      }
    }
  }

  @media screen and (min-width: 820px) {
    .sub-header{
      display: flex;
    }
  }

  table {
    background-color:#EBEBEB;
    width: 100vw;
    &.full-screen {
      position: absolute;
      top: 0;
    }

    th.mat-column-date, th.mat-column-type, th.mat-column-status {
      font-size: medium;
      font-weight: 600;
    }

  }

}


app-gaggle-button {
  margin-left: 1rem;

  p {
    font-size: small;
    margin: 0;
  }
}



.density-medium {
  height: 52px;
}
.density-large {
  height: 65px;
}
.density-small {
  height: 40px;
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
}

app-gaggle-logo {
  height: 65px;
}
