<main class="container">
  <section id="login-area">
    <app-gaggle-logo></app-gaggle-logo>
    <app-form-wrapper (submit)="onSubmit($event)" [formTemplate]="loginFormTemplate"></app-form-wrapper>
    <footer id="account-links">
      <button mat-button color="primary" type="button" (click)="showDialog(registrationDialog)">Register</button>
      <button mat-button color="primary" type="button" (click)="showDialog(forgotPasswordDialog)">Forgot Password?</button>
    </footer>
  </section>
  <section id="hero-img">
    <img src="../../assets/hero-image.png" alt="overhead picture of cafateria">
  </section>
</main>

<ng-template #registrationDialog>
  <mat-dialog-content id="registration-content">
    <app-gaggle-logo [fullsize]="false"></app-gaggle-logo>
    <main>
      <h4>New Account</h4>
      <app-form-wrapper [formTemplate]="registerFormTemplate" #register></app-form-wrapper>
    </main>
  </mat-dialog-content>
  <mat-dialog-actions id="dialog-actions">
    <button mat-button mat-dialog-close="canceled">Cancel</button>
    <button mat-button color="primary" (click)="registerUser()">Register Account</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #forgotPasswordDialog>
  <mat-dialog-content id="forgot-password-content">
    <ng-container *ngIf="!forgotPasswordRequestSent; else requested">
      <h4>Forgot Password</h4>
      <app-form-wrapper [formTemplate]="forgotPasswordTemplate" #forgot></app-form-wrapper>
    </ng-container>
    <ng-template #requested>
      <p>
        A password change request has been sent to the email provided. Please follow the included instructions.
      </p>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions id="dialog-actions">
    <button mat-button mat-dialog-close="exited">
      {{forgotPasswordRequestSent ? 'Exit' : 'Cancel'}}
    </button>
    <button *ngIf="!forgotPasswordRequestSent" mat-button color="primary"
      (click)="forgotPasswordRequest()">Submit</button>
  </mat-dialog-actions>
</ng-template>
